   <link rel="stylesheet" href="/css/style.css" />
<header>
      <span>
        <a href="/" class="text-4xl text-left" id="palabra">Palabra</a>
      </span>

       {{#if isLoggedIn}}

      <span>
        <h2 class="text-2xl text-right"><a href="/profile">Profile</a></h2>
      </span>
      <span>
        <h2 class="text-2xl text-right"><a href="/logout">Logout</a></h2>
      </span>
            <span>
        <h2 class="text-2xl text-right"><a href="/testimonials">Testimonials</a></h2>
      </span>
      {{else}}
      <span>
        <h2 class="text-2xl text-right"><a href="/register">Register</a></h2>
      </span>
      <span>
        <h2 class="text-2xl text-right"><a href="/login">Login</a></h2>
      </span>
                  <span>
        <h2 class="text-2xl text-right"><a href="/testimonials">Testimonials</a></h2>
      </span>
  {{/if}}
</header>
    <script src="/js/script.js"></script>