<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@700&display=swap"
      rel="stylesheet"
    />
       {{#each css}}
    <link rel="stylesheet" href="/css/style.css" />
    {{/each}}
    <title>Palabra: Expand your vocabulary!</title>
  </head>
<body>
    {{> nav user=user }}
    {{{ body }}}
</body>   
 <footer>
      <p>Made by Jacob, Dylan & Emma </p>
    </footer>
    <script src="https://momentjs.com/downloads/moment.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/js/script.js"></script>
  </body>
</html>
</html>