{{#if user}}
  <h2 id="hello_user"> Welcome back! </h2>
{{/if}}

<section class="max-w-10xl text-center" id="top">
  <article class="w-full">
    <h3 class="text-6xl" id="word-of-day">
      Word of the Day:
      <span id="date"></span>
    </h3>
    <h3 class="text-4xl" id="chosen-word"></h3>
    <p id="definition"></p>
    <p id="displayContainer"></p>
    <p id="similar-container"></p>
  </article>
</section>

{{! NOTE INPUT FORM }}

<div id="note-form">
  <form>
    <label for="note_of_day">Add a Note</label>
    <input type="text" id="note" name="note_of_day" day="" />
    <button id="select-button" type="submit" onclick="createNote()">Submit</button>
  </form>
</div>


<div id="note-container">
<h2>Today's Note:</h2>
<div id="current-note"></div>
</div>


{{! TODO Dylan start building 5 past word containers here: }}

<section class="my-4 word-container container">

  <article id="past-words" class="row justify-content-center">

    <div id="past-container-1" class="p-2 col-md-2 col-sm-6">
      <p id="past-date-1"></p>
      <p id="past-word-1"></p>
      <p id="past-note-1"></p>
    </div>

    <div id="past-container-2" class="p-2 col-md-2 col-sm-6">
      <p id="past-date-2"></p>
      <p id="past-word-2"></p>
      <p id="past-note-2"></p>
    </div>

    <div id="past-container-3" class="p-2 col-md-2 col-sm-6">
      <p id="past-date-3"></p>
      <p id="past-word-3"></p>
      <p id="past-note-3"></p>
    </div>

    <div id="past-container-4" class="p-2 col-md-2 col-sm-6">
      <p id="past-date-4"></p>
      <p id="past-word-4"></p>
      <p id="past-note-4"></p>
    </div>

    <div id="past-container-5" class="p-2 col-md-2 col-sm-6">
      <p id="past-date-5"></p>
      <p id="past-word-5"></p>
      <p id="past-note-5"></p>
    </div>

  </article>
</section>
<script src="/js/script.js"></script>