
{{#if user}}
    <h2> Hello, {{user.email}} </h2> 
  {{/if}}
          <section class="max-w-10xl text-center" id="top">
      <article class="w-full">
        <h3 class="text-6xl" id="word-of-day">
          Word of the Day: <span id="date"></span>
        </h3>
        <h3 class="text-4xl" id="chosen-word"></h3>
        <p id="definition"></p>
        <p id="displayContainer"></p>
        <p id="similar-container"></p>
      </article>

      <article class="w-full text-center" id="input-dropwdown">
        <select name="language-select" id="lang-select">
          <option
            value="similar-words"
            class="dropdown"
            id="similarWords"
            selected
          >
            Similar Words
          </option>
          <option value="defintion" class="dropdown" id="definition">
            Definition
          </option>
        </select>
        <br />
        <button id="select-button">Go!</button>
      </article>
    </section>

  {{!-- TODO Dylan start building 5 past word containers here: --}}

      <section class="my-4 word-container container">
      <h3 class="text-4xl text-center" id="past-words">Past Words</h3>

      <article id="past-words row">

        <div id="past-container-1 p-2 col-md-4 col-sm-8">
          <p id="past-date-1"></p>
          <p id="past-word-1">Sample</p>
          <p id="past-note-1">Sample</p>
        </div>
        
        <div id="past-container-2 p-2 col-md-4 col-sm-8">
          <p id="past-date-2"></p>
          <p id="past-word-2">Sample2</p>
          <p id="past-note-2">Sample2</p>
        </div>
        
        <div id="past-container-3 p-2 col-md-4 col-sm-8">
          <p id="past-date-3"></p>
          <p id="past-word-3">Sample3</p>
          <p id="past-note-3">Sample3</p>
        </div>
        
        <div id="past-container-4 p-2 col-md-4 col-sm-8">
          <p id="past-date-4"></p>
          <p id="past-word-4">Sample4</p>
          <p id="past-note-4">Sample4</p>
        </div>
        
        <div id="past-container-5 p-2 col-md-4 col-sm-8">
          <p id="past-date-5"></p>
          <p id="past-word-5">Sample5</p>
          <p id="past-note-5">Sample5</p>
        </div>

      </article>
    </section>
        <script src="/js/script.js"></script>