  <div class="login">
  <h2 id="hello_user"> Register </h2> <br>

<form action="/api/users" method="post">
  <label for="email">Email:</label>
  <input name="email" type="text" /><br><br>
  <label for="password">Password:</label>
  <input name="password" type="password" /><br><br>
  <button type="submit" class="submit-button">Submit</button>
</form>
</div>
    <script src="/js/script.js"></script>