  <h2 id="hello_user"> Register </h2>

<form action="/api/users" method="post">
  <label for="email">Email:</label>
  <input name="email" type="text" />
  <label for="password">Password:</label>
  <input name="password" type="password" />
  <button type="submit">Submit</button>
</form>
    <script src="/js/script.js"></script>