<div class="video-container">
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/5rJH5o_ewFM"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
    style="margin: 15px auto 45px"
  ></iframe>
</div>